/* Стилизация формы */
.add-genre-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Стилизация заголовков */
.add-genre-form h2 {
  text-align: center;
  color: #333;
}

/* Стилизация полей ввода */
mat-form-field {
  width: calc(50% - 10px);
}

/* Стилизация кнопок */
button.mat-button {
  margin-right: 8px;
}

.cancel-button {
  background-color: #f44336;
  color: whitesmoke;
}

.cancel-button:hover {
  background-color: #d32f2f;
}

.save-button {
  background-color: #4caf50;
  color: whitesmoke;
}

.save-button:hover {
  background-color: #357a38;
}

.save-button:disabled {
  background-color: #9e9e9e;
  color: whitesmoke;
  cursor: not-allowed;
}

.save-button:disabled:hover {
  cursor: default;
}

/* Стилизация сообщений об ошибках */
mat-error {
  color: red;
}
