<h2 mat-dialog-title>Редактирование автора</h2>
<div mat-dialog-content>
  <form class="edit-author-form" [formGroup]="editAuthorForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Имя</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="editAuthorForm.get('name')!.hasError('required')">
        Имя автора обязательно к заполнению
      </mat-error>
    </mat-form-field>
    <mat-form-field class="textarea-field">
      <mat-label>Об авторе:</mat-label>
      <textarea matInput formControlName="bio"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button class="cancel-button" (click)="onCancel()">Отмена</button>
  <button mat-button class="save-button" [disabled]="editAuthorForm.pristine || !editAuthorForm.valid" (click)="onSubmit()">Сохранить</button>
</div>
