.search-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.search-field {
  flex: 1;
}

.advanced-search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
}

.simple-search {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.smp-btn {
  margin: 10px 5px;
}

.adv-btn {
  margin-top: 5px;
  align-self: end;
  margin-bottom: 10px;
}

mat-form-field {
  width: 100%;
}
